.Navbar{
    display: flex;
    min-height: 5vh;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-text{
    text-decoration: none;
}

.nav-logo{
    text-decoration: none;
    font-weight: bold;
    color:black;
}